# keys and configs that are spesific to each environment

# should be rotated regularly
TS_AUTHKEY=your_auth-key_here
TSKEY=your_apy-key_here
CFKEY=your_apy-key_here

CFDOMAIN=your_domain_here
TSTAILNET=your_tail-org_id_here

# probably a hassle to rotate
MYSQL_PASSWORD=generate_a_secure_password_for_this
MYSQL_ROOT_PASSWORD=generate_a_secure_password_for_this
NEXTCLOUD_ADMIN_USER=select_a_username_for_nextcloud_admin
NEXTCLOUD_ADMIN_PASSWORD=generate_a_secure_password_for_this