# keys and configs that are spesific to each environment, copy this to .env, and fill in the fields

# should be rotated regularly
#TS_AUTHKEY=your_auth-key_here

CF_API_EMAIL=your_email_here # for expiry notifications from lets_encrypt (should probably rename to LE_email)
CF_API_TOKEN=your_api-key_here # needs permissions: Zone,Zone,Read & Zone,DNS,Edit

ROOT_DOMAIN=your_domain_here # can be a sub-domain. services will be created as subdomains of this.
# eg: test.example.com as root, then nextcloud will be: nextcloud.test.example.com

# probably a hassle to rotate
MYSQL_PASSWORD=generate_a_secure_password_for_this
MYSQL_ROOT_PASSWORD=generate_a_secure_password_for_this
REDIS_PASSWORD=generate_a_secure_password_for_this
NEXTCLOUD_ADMIN_USER=select_a_username_for_nextcloud_admin
NEXTCLOUD_ADMIN_PASSWORD=generate_a_secure_password_for_this